{{#each post)}
  {{#dataValues}}
    <div class="row">
      <div class="col">
        {{name}}
      </div>
      <div class="col">
        {{telephone))
      </div>
      <div class="col">
        {{origin}}
      </div>
      <div class="col">
        {{date}}
      </div>
      <div class="col">
        {{observation}}
      </div>
    </div>
  {{/dataValues}}
{{/each}}
